<div class="content">
  <h1>
    Verifique su autorizaci&oacute;n llamando a mesa de ayuda
    <br>
    de la Direcci&oacute;n de Tecnolog&iacute;a de la Informaci&oacute;n de la 
    D.G.C. y E.
    <br>
    Muchas Gracias
    <br>
    <a href="http://abc.gov.ar"> Ingreso al portal ABC </a>
  </h1>


  <form [formGroup]="myForm" (ngSubmit)="submitHandler()">
    <br>

    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="username" formControlName="email">
    </mat-form-field>


    <mat-form-field >
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  



    <button mat-button color="primary" type="submit" [disabled]="myForm.invalid">ENTRAR</button>

    </form>
</div>