<div class="content">


<form [formGroup]="myForm" (ngSubmit)="submitHandler()">


  <mat-form-field>
      <input matInput placeholder="NRO DE DOCUMENTO" formControlName="documento" >
      <mat-hint align="end"> Para el documento menor que 10.000.000 ingrese el sexo delante del n&uacute;mero - <br>
        Sexo F: femenino  M: masculino (Solo para per&iacute;odos mayores a 1999.) </mat-hint>
      <mat-error *ngIf="documento.errors?.pattern && documento.touched" class="has-text-danger">
        El documento ingresado no es el correcto
    </mat-error>
  </mat-form-field>

  <mat-form-field>
      <input type="number" matInput placeholder="SECUENCIA" formControlName="secuencia"  min="0" max="999">
      <mat-hint align="end"> Solo ingrese secuencia si desea una busqueda puntual</mat-hint>
      <mat-error *ngIf="secuencia.invalid && secuencia.touched" class="has-text-danger">
        SECUENCIA INCORRECTO, Números del 0 al 999
      </mat-error> 
  </mat-form-field>



  <mat-form-field>
      <mat-select formControlName="periodo" placeholder="PERIODO">
        <mat-option  *ngFor="let y of years" [value]="y">{{y}}</mat-option>
      </mat-select>
      <mat-error *ngIf="periodo.invalid && periodo.touched" class="has-text-danger">
        PERIODO INCORRECTO
      </mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="checkCD" color="primary">Recuperar Solo Documento Ingresado</mat-checkbox>
<br><br>
  <button mat-raised-button [disabled]="myForm.invalid || loading" color="primary">ACEPTAR</button>

</form>



</div>

<div class="boton">
  <button mat-raised-button (click)="openDialog()">BUSCAR POR APELLIDO</button>
</div>
